<div class="container mt-5">
  <h2>{{ isUpdate ? 'Update Task' : 'Create Task' }}</h2>

  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input formControlName="title" type="text" id="title" class="form-control">
      <div class="error-message" *ngIf="taskForm.get('title')?.hasError('required') ">Please enter a title.</div>
      <div  *ngIf="taskForm.get('title')?.hasError('maxlength') && taskForm.get('title')?.touched">Title must be at most 30 characters long.</div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description:</label>
      <textarea formControlName="description" id="description" class="form-control"></textarea>
      <div class="error-message" *ngIf="taskForm.get('description')?.hasError('required') && taskForm.get('description')?.touched">Please enter a description.</div>
      <div class="error-message" *ngIf="taskForm.get('description')?.hasError('maxlength') && taskForm.get('description')?.touched">Description must be at most 200 characters long.</div>
    </div>

    <div class="mb-3">
      <label for="dueDate" class="form-label">Due Date:</label>
      <input formControlName="dueDate" type="date" id="dueDate" class="form-control">
      <div class="error-message" *ngIf="taskForm.get('dueDate')?.hasError('required') && taskForm.get('dueDate')?.touched">Please enter a due date.</div>
    </div>

    <button type="submit" class="btn btn-primary">{{ isUpdate ? 'Update Task' : 'Create Task' }}</button>
  </form>
</div>
