<div>
    <table>
      <thead>
        <tr>
         <th>#</th>
          <th>Title</th>
          <th>Due Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks;  let i = index">
            <td>{{ i + 1 }}</td>
          <td>{{ task.title }}</td>
          <td>{{ task.dueDate | date:'mediumDate' }}</td>
          <td>
            <button class="action-button view-button" (click)="showTaskDetails(task)">
                <i class="fas fa-eye"></i> View
              </button>
              <button class="action-button update-button" (click)="updateTask(task.id)">
                <i class="fas fa-pencil-alt"></i> Update
              </button>
              <button class="action-button delete-button" (click)="deleteTask(task.id)" style="background-color: rgb(184, 28, 28);">
                <i class="fas fa-trash"></i> Delete
              </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
